streamlit>=1.36
pandas>=2.2
numpy>=1.26
duckdb>=1.0.0
faiss-cpu>=1.8.0
scikit-learn>=1.5
sentence-transformers>=2.6.1
pymupdf>=1.24      # PyMuPDF
rapidfuzz>=3.9
pydantic>=2.8
tqdm>=4.66
python-slugify>=8.0
faker>=37.5.3
PyPDF2>=3.0.1